<a href="https://colab.research.google.com/github/thessafuzaro/ANN/blob/main/Projeto_Thessa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
'''Primeiro projeto de redes neurais
Aluna: Thessa Fuzaro Mendes
Artigo: On the optimiation of froth flotation by the use of an artificial neural network [Al-Thyabat S]
Data: 11/05/2021'''

'Primeiro projeto de redes neurais\nAluna: Thessa Fuzaro Mendes\nArtigo: On the optimiation of froth flotation by the use of an artificial neural network [Al-Thyabat S]\nData: 11/05/2021'

In [154]:
#Bibliotecas necessárias
import os
import numpy as np   # biblioteca númerica do python
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score 
#from sklearn import preprocessing

In [155]:
# para gerar o grafico no browser
%matplotlib inline

In [156]:
!git clone https://github.com/thessafuzaro/ANN
%cd ANN

Cloning into 'ANN'...
remote: Enumerating objects: 29, done.
remote: Counting objects: 100% (29/29), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 29 (delta 12), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (29/29), done.
/content/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN/ANN

In [157]:
# leitura dos dados
df=pd.read_csv("Dados_artigo_ANN.csv", delimiter=';')   # pelo pandas (pd) lê o arquivo no formato csv - arquivo de dados como o excel
print (df.head)

<bound method NDFrame.head of     No   Range   Mean size   Collector dosage  Impeller speed   Recovery  Grade
0    1    16-32         750              0.90             1200     98.18  68.44
1    2   16-150         553              0.56             1200     92.71  65.36
2    3    16-32         750              0.78             1200     96.74  65.58
3    4   32-270         277              0.56             1200     93.27  63.94
4    5    16-32         750              0.56             1200     94.55  73.83
5    6   32-270         277              0.78             1200     95.69  62.93
6    7    16-24         854              0.90             1200     94.19  76.38
7    8   32-270         277              0.90             1200     95.82  57.30
8    9   32-270         277              1.12             1200     93.90  52.68
9   10   32-270         277              0.67             1200     98.13  60.60
10  11    16-24         854              1.12             1200     97.71  76.91
11  12   16-150         553              0.78             1200     96.85  57.70
12  13   16-150         553              0.90             1200     97.56  52.85
13  14   16-150         553              1.01             1200     97.67  48.50
14  15    16-32         750              1.12             1200     98.84  64.43
15  16   16-150         553              0.90             1100     91.21  57.13
16  17    16-32         750              1.12             1100     96.98  63.12
17  18   16-150         553              1.12             1100     96.47  58.90
18  19    16-32         750              0.78             1500     95.48  68.50
19  20   16-150         553              0.78             1500     66.15  67.67
20  21   16-150         553              0.90             1500     89.74  58.27
21  22   16-150         553              1.12             1500     96.20  50.46
22  23   24-270         380              0.56             1200     78.44  72.64
23  24   24-270         380              0.90             1200     94.06  62.71
24  25   24-270         380              0.78             1200     97.68  57.17
25  26  150-270          79              0.67             1200     68.51  77.53
26  27   24-270         380              1.12             1200     95.27  56.41
27  28   24-270         380              0.90             1100     97.77  58.39
28  29   24-270         380              1.12             1100     97.68  56.07
29  30   24-270         380              0.78             1100     92.99  70.24
30  31   24-270         380              0.90             1500     82.99  64.29
31  32   24-270         380              1.12             1500     92.54  64.37
32  33   16-150         553              0.78             1100     97.17  53.64
33  34    16-32         750              0.90             1100     98.47  65.18
34  35   24-270         380              0.78             1500     97.49  75.22>

In [158]:
#Selecionando as colunas de interesse:
Dat_Select=df.iloc[:,2:].copy()

In [159]:
Dat_Select.head(3)

   Mean size   Collector dosage  Impeller speed   Recovery  Grade
0         750              0.90             1200     98.18  68.44
1         553              0.56             1200     92.71  65.36
2         750              0.78             1200     96.74  65.58

In [160]:
# Normatização dos dados:
def Normatiza(x):
  strings= list(x)
  for i in strings:
    max_x=x[i].max()
    min_x=x[i].min()
    a=(max_x+min_x)/2
    b=(max_x-min_x)/2
    x[i]=(x[i]-a)/b
  return x

In [161]:
# Retornando os dados para originais:
def Original(x,x_old):
  strings=list(x)
  for i in strings:
     max_x=x_old[i].max()
     min_x=x_old[i].min()
     a=(max_x+min_x)/2
     b=(max_x-min_x)/2
     x[i]=x[i]*b+a
  return x

In [162]:
#Separando os dados em normatizados e originais:
Dat_Old=[]
Dat_Old=Dat_Select.copy()
Dat=Normatiza(Dat_Select)

In [163]:
Dat.tail(3)

    Mean size   Collector dosage  Impeller speed   Recovery     Grade
32    0.223226         -0.214286             -1.0  0.897828 -0.645884
33    0.731613          0.214286             -1.0  0.977363  0.149156
34   -0.223226         -0.214286              1.0  0.917406  0.840854

In [164]:
#Separando os dados para treino e teste da Rede Neural
Train=Dat.sample(frac=0.8,random_state=None)
Test=Dat.drop(Train.index)

In [165]:
print(Train.head)

<bound method NDFrame.head of     Mean size   Collector dosage  Impeller speed   Recovery     Grade
31   -0.223226          1.000000              1.0  0.614561  0.093352
15    0.223226          0.214286             -1.0  0.533191 -0.405443
10    1.000000          1.000000             -0.5  0.930866  0.957286
30   -0.223226          0.214286              1.0  0.030284  0.087840
16    0.731613          1.000000             -1.0  0.886204  0.007234
22   -0.223226         -1.000000             -0.5 -0.248088  0.663107
23   -0.223226          0.214286             -0.5  0.707556 -0.021013
27   -0.223226          0.214286             -1.0  0.934537 -0.318636
19    0.223226         -0.214286              1.0 -1.000000  0.320703
7    -0.489032          0.214286             -0.5  0.815234 -0.393731
4     0.731613         -1.000000             -0.5  0.737534  0.745091
18    0.731613         -0.214286              1.0  0.794433  0.377885
14    0.731613          1.000000             -0.5  1.000000  0.097485
12    0.223226          0.214286             -0.5  0.921689 -0.700310
8    -0.489032          1.000000             -0.5  0.697767 -0.712022
3    -0.489032         -1.000000             -0.5  0.659223  0.063727
1     0.223226         -1.000000             -0.5  0.624962  0.161557
2     0.731613         -0.214286             -0.5  0.871520  0.176714
32    0.223226         -0.214286             -1.0  0.897828 -0.645884
17    0.223226          1.000000             -1.0  0.855002 -0.283500
11    0.223226         -0.214286             -0.5  0.878250 -0.366173
26   -0.223226          1.000000             -0.5  0.781585 -0.455047
5    -0.489032         -0.214286             -0.5  0.807281 -0.005856
9    -0.489032         -0.607143             -0.5  0.956562 -0.166380
6     1.000000          0.214286             -0.5  0.715509  0.920772
33    0.731613          0.214286             -1.0  0.977363  0.149156
24   -0.223226         -0.214286             -0.5  0.929030 -0.402687
25   -1.000000         -0.607143             -0.5 -0.855613  1.000000>

In [166]:
print(Test.head)

<bound method NDFrame.head of     Mean size   Collector dosage  Impeller speed   Recovery     Grade
0     0.731613          0.214286             -0.5  0.959621  0.373751
13    0.223226          0.607143             -0.5  0.928418 -1.000000
20    0.223226          0.214286              1.0  0.443255 -0.326903
21    0.223226          1.000000              1.0  0.838483 -0.864967
28   -0.223226          1.000000             -1.0  0.929030 -0.478471
29   -0.223226         -0.214286             -1.0  0.642092  0.497761
34   -0.223226         -0.214286              1.0  0.917406  0.840854>

In [167]:
# Obtendo as variaveis independentes (treino e teste)
Index=[0,1,2]
x_Train=Train.iloc[:,Index]
x_Test=Test.iloc[:,Index]
X_Old=Dat_Old.iloc[:,Index]

In [168]:
# Obtendo as variaveis dependentes Recovery e Grade (treino e teste)
y_Train=Train.iloc[:,[3,4]]
y_Test=Test.iloc[:,[3,4]]
Y_Old=Dat_Old.iloc[:,[3,4]]